/*Login Visualization*/
rect {
  fill: white;
  pointer-events: all;
}

.node {
  fill: black;
}

/*.target {
  fill: none;
  stroke: red;
  pointer-events: none;
}*/

.link {
  stroke: grey;
  opacity: 0.2;

#map {
  fill:none;
}

#states {
  fill: rgba(200, 200, 200, 0.5);
}

#state-borders {
  stroke: #aaa;
  stroke-width: 0.5px;
}

.user {
  stroke: rgba(50, 50, 50, 0.2);
  stroke-width: 0.05px;
}