/*Login Visualization*/
rect {
  fill: white;
  pointer-events: all;
}

.node {
  fill: black;
}

#login {
  display: inline-block;
  float: right;
  width: 33%;
}

#animation {
}

/*Home Visualization*/

.link {
  stroke: grey;
  opacity: 0.2;
}

#map {
  fill:none;
}

#states {
  fill: rgba(0, 0, 0, 0.95);
}

#state-borders {
  stroke: white;
  stroke-width: 0.5px;
}

.user {
  stroke: rgba(50, 50, 50, 0.2);
  stroke-width: 0.05px;
}

/*Home Page*/
