<nav class="navigation">
  <ul>
    <a href="/#/home"><li>Home</li></a><!--
    --><a href="/#/discover"><li class="selected">Discover</li></a><!--
    --><a href="/#/cohort"><li>Cohort</li></a><!--
    --><a href="#/profile"><li>Profile</li></a><!--
    --><a href="/#/login"><li>Login</li></a><!--
    --><a href="/#/logout"><li>Logout</li></a>
  </ul>
</nav>

<div id="discover-outer">
  <div id="discover-inner">
    <div class="row">
      <div class="search-box col-sm-12">
    </div>
      <input type="text" ng-model="searchFilter" class="search" placeholder="search">
    </div>
    <div class="container-fluid profile-view" ng-repeat="profile in profiles | filter:searchFilter">
      <div class="row info-basic">
        <div class="col-sm-2">
          <img ng-if="profile.avatar" href="{{profile.avatar}}" height="100" width="100"/>
          <!-- <img ng-show="!profile.avatar" src="http://i2.wp.com/reboot.pro/public/style_images/metro/profile/default_large.png" /> -->
        </div>
        <div class="col-sm-7">
          <p class="name">{{profile.name}}</p>
          <p class="company">{{profile.headline}}</p>
          <p class="location">{{profile.city}}, {{profile.state}}</p>
     <!-- <p class="company">{{profile.currentemployer}}</p> -->
        </div>
        <div class="col-sm-2">
          <p class="cohort">{{profile.cohort}}</p>
          <p class="gender">{{profile.gender}}</p>
        </div>
      </div>
      <div class="row info-expanded">
        <div class="col-sm-5">
          <p><a href="mailto:{{profile.email}}">{{profile.email}}</a></p>
          <p><a href="{{profile.website}}" target="_blank">{{profile.website}}</a></p>
          <p><span class="field-title"></span><a href="https://www.github.com/{{profile.githublogin}}" target="_blank">Github</a></p><p><span class="field-title"></span><a href="{{profile.linkedin}}" target="_blank">Linkedin</a></p>
          <p ng-if="profile.twitter"><span class="field-title"></span><a href="https://www.twitter.com/{{profile.twitter}}" target="_blank">Twitter</a></p>
        </div>
        <div class="col-sm-7">
          <div>Hack Reactor projects:</div>
          <div ng-if="!profile.thesis && !profile.legacy && !profile.greenfield">
          No projects added yet!</div>
          <p ng-if="profile.thesis"><span class="field-title">Thesis:  </span><a href="{{profile.thesisurl}}" target="_blank">{{profile.thesis}}</a></p>
          <p ng-if="profile.legacy"><span class="field-title">Legacy:  </span>{{profile.legacy}}</p>
          <p ng-if="profile.greenfield"><span class="field-title">Greenfield:  </span>{{profile.greenfield}}</p>
        </div>
<!--    <div class="col-sm-3">
          <p class="field-title">Technologies:</p>
          <div class="technologies" ng-repeat="technology in profile.technologies track by $index">
            <p>{{technology}}</p>
          </div> 
        </div>
-->
       <!--  <div class="col-sm-3">
          <p class="field-title">Demographics:</p>
          <p>{{profile.gender}}</p>
          <p>{{profile.race}}</p>
        </div> -->
      </div>
      <div class="row info-contact">
        <div class="col-sm-6">
          <p class="field-title">Invite User:</p>
          <!-- <div ng-if="!profile.signedUp"> -->
            <p>This user has not signed up yet, send an invite!</p>
           
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Send Invite
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <form>
                  <div class="modal-body">
                  To: {{profile.name}}
                  You have been invited!
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Send</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>

          <!-- </div>  -->
        </div>
      </div>
<!--    <div class="row info-employment">
        <p class="employment-title">Employment History: </p>
        <div class="col-sm-3">
          <p>{{profile.currentemployer}}</p>
          <p>{{profile.currentemployerrole}}</p>
          <p>{{profile.currentemployertype}}</p>
          <p><span class="field-title">Start:  </span>{{profile.currentemployerstartdate.split(' ')[1]}} {{profile.currentemployerstartdate.split(' ')[3]}}</p>
        </div>
        <div class="col-sm-3">
          <p>{{profile.prioremployer1}}</p>
          <p>{{profile.prioremployer1role}}</p>
          <p>{{profile.prioremployer1type}}</p>
          <p><span class="field-title">Start:  </span>{{profile.prioremployer1startdate.split(' ')[1]}} {{profile.prioremployer1startdate.split(' ')[3]}}</p>
          <p><span class="field-title">End:  </span>{{profile.prioremployer1enddate.split(' ')[1]}} {{profile.prioremployer1enddate.split(' ')[3]}}</p>
        </div>
        <div class="col-sm-3">
          <p>{{profile.prioremployer2}}</p>
          <p>{{profile.prioremployer2role}}</p>
          <p>{{profile.prioremployer2type}}</p>
          <p><span class="field-title">Start:  </span>{{profile.prioremployer2startdate.split(' ')[1]}} {{profile.prioremployer2startdate.split(' ')[3]}}</p>
          <p><span class="field-title">End:  </span>{{profile.prioremployer2enddate.split(' ')[1]}} {{profile.prioremployer2enddate.split(' ')[3]}}</p>
        </div>
        <div class="col-sm-3">
          <p>{{profile.prioremployer3}}</p>
          <p>{{profile.prioremployer3role}}</p>
          <p>{{profile.prioremployer3type}}</p>
          <p><span class="field-title">Start:  </span>{{profile.prioremployer3startdate.split(' ')[1]}} {{profile.prioremployer3startdate.split(' ')[3]}}</p>
          <p><span class="field-title">End:  </span>{{profile.prioremployer3enddate.split(' ')[1]}} {{profile.prioremployer3enddate.split(' ')[3]}}</p>
        </div>

      </div>
-->
    </div>
  </div>
</div>

