<div id='container'>

  <nav class="navigation">
    <ul>
      <li><a href="#/home">Home</a></li>
      <li><a class='selected' href="#/profile">Profile</a></li>
      <li><a href="#/logout">Logout</a></li>
    </ul>
  </nav>

  <div ng-controller="profileController" class="profile">
    <form name="profileForm" ng-submit='updateProfile()' novalidate>
      <fieldset>
        <legend>
          Contact Information and Personal Details
        </legend>
        <label>
          Name: 
          <input type="text" name="name" maxlength="100" 
          ng-model="user.name" ng-class="" required>
        </label>
        <label>
          Github Login: 
          <input type="text" name="githublogin" maxlength="100" 
          ng-model="user.githublogin" ng-class="" required>
        </label>
        <label>
          Email:
          <input type="email" name="email" maxlength="100" 
          ng-model="user.email" ng-class="" required>
        </label>
        <label>
          Zipcode:
          <input type="text" name="zip" maxlength="5" 
          ng-model="user.zip" ng-class="" required>
        </label>
        <label>
          Cohort:
          <select name="cohort" ng-model="user.cohort" ng-class="" required>
            <option value="HRRB01">HRRB01</option>
            <option value="HRRB02">HRRB02</option>
            <option value="HRRB03">HRRB03</option>
            <option value="HRRB04">HRRB04</option>
            <option value="HRRB05">HRRB05</option>
            <option value="HRRB06">HRRB06</option>
            <option value="HRRB07">HRRB07</option>
            <option value="HRRB08">HRRB08</option>
          </select>
        </label>
        <label>
          Gender:
          <select name="gender" ng-model="user.gender" ng-class="">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </label>
        <label>
          Ethnicity:
          <input type="text" name="race" maxlength="100" 
          ng-model="user.race" ng-class="">
        </label>
      </fieldset>

      <fieldset>
        <legend>
          Career Information
        </legend>
        </label>
          Current Job Title/Role:
          <input type="text" name="currentemployerrole" maxlength="100" 
          ng-model="user.currentemployerrole" ng-class="">
        </label>
        <label>
          Current Employer:
          <input type="text" name="currentemployer" maxlength="100" 
          ng-model="user.currentemployer" ng-class="">
        </label>
        <label>
          Start Date:
          <input type="date" name="currentemployerstartdate" maxlength="100" 
          ng-model="user.currentstartdate" ng-class="">
        </label>
        <label>
          Previous Employer 1:
          <input type="text" name="prioremployer1" 
          ng-model="user.prioremployer1" ng-class="">
        </label>
        </label>
          Job Title/Role:
          <input type="text" name="prioremployer1role" maxlength="100" 
          ng-model="user.prioremployer1role" ng-class="">
        </label>
        <label>
          Start Date:
          <input type="date" name="prioremployer1startdate" maxlength="100" 
          ng-model="user.prioremployer1startdate" ng-class="">
        </label>
        <label>
          End Date:
          <input type="date" name="prioremployer1enddate" maxlength="100" 
          ng-model="user.prioremployer1enddate" ng-class=""> 
        </label>
        <label>
          Previous Employer 2:
          <input type="text" name="prioremployer2" 
          ng-model="user.prioremployer2" ng-class="">
        </label>
        </label>
          Job Title/Role:
          <input type="text" name="prioremployer2role" maxlength="100" 
          ng-model="user.prioremployer2role" ng-class="">
        </label>
        <label>
          Start Date:
          <input type="date" name="prioremployer2startdate" maxlength="100" 
          ng-model="user.prioremployer2startdate" ng-class="">
        </label>
        <label>
          End Date:
          <input type="date" name="prioremployer2enddate" maxlength="100" 
          ng-model="user.prioremployer1enddate" ng-class=""> 
        </label>
        <label>
          Previous Employer 3:
          <input type="text" name="prioremployer3" 
          ng-model="user.prioremployer3" ng-class="">
        </label>
        </label>
          Job Title/Role:
          <input type="text" name="prioremployer3role" maxlength="100" 
          ng-model="user.prioremployer3role" ng-class="">
        </label>
        <label>
          Start Date:
          <input type="date" name="prioremployer3startdate" maxlength="100" 
          ng-model="user.prioremployer3startdate" ng-class="">
        </label>
        <label>
          End Date:
          <input type="date" name="prioremployer3enddate" maxlength="100" 
          ng-model="user.prioremployer3enddate" ng-class=""> 
        </label>
        <label>
          Github:
          <input type="text" name="githublink" maxlength="100" 
          ng-model="user.githublink" ng-class="">
        </label>
        <label>
          Twitter:
          <input type="text" name="twitter" maxlength="100" 
          ng-model="user.twitter" ng-class="">
        </label>
        <label>
          Website:
          <input type="text" name="website" maxlength="100" 
          ng-model="user.website" ng-class="">  
        </label>
        <label>
          Thesis:
          <input type="text" name="thesis" maxlength="100" 
          ng-model="user.thesis" ng-class="">
        </label>
        <label>
          Thesis URL:
          <input type="url" name="thesisurl" maxlength="100" 
          ng-model="user.thesisurl" ng-class="">
        </label>
        <label>
          Greenfield:
          <input type="text" name="greenfield" maxlength="100" 
          ng-model="user.greenfield" ng-class="">
        </label>
        <label>
          Legacy Project:
          <input type="text" name="legacy" maxlength="100" 
          ng-model="user.legacy" ng-class="">
        </label>
        <label>
          Technologies:
          <input type="checkbox" name="technologies" value="angular">Angular
          <input type="checkbox" name="technologies" value="backbone">Backbone
          <input type="checkbox" name="technologies" value="d3">D3
        </label>
      </fieldset>

      <!-- <input type="button" ng-click="reset()" value="Reset"> -->
      <input type="submit" ng-click="update(user)" value="Save Profile" 
      ng-disabled='profileForm.$invalid'>          
    </form>
      <pre>user = {{user | json}}</pre> <!-- Remove before deployment -->
      <pre>profile = {{profile | json}}</pre> <!-- Remove before deployment -->
  </div>

</div>


