<div id='container'>

  <nav class="navigation">
    <ul>
      <li><a href="/#/home">Home</a></li>
      <li><a class='selected' href="#/profile">Profile</a></li>
      <li><a href="/api/logout">Logout</a></li>
    </ul>
  </nav>

  <div ng-controller="profileController" class="profile">
    <form name="profileForm" ng-submit='updateProfile()' novalidate>
      <fieldset>
        <legend>
          Contact Information and Personal Details
        </legend>
        <label>
          Name: 
          <input type="text" name="name" maxlength="100" 
          ng-model="user.name" ng-class="" required>
        </label>
        <label>
          Github Login: 
          <input type="text" name="githublogin" maxlength="100" 
          ng-model="user.githublogin" ng-class="" required>
        </label>
        <label>
          Email:
          <input type="email" name="email" maxlength="100" 
          ng-model="user.email" ng-class="" required>
        </label>
        <label>
          City: 
          <input type="text" name="city" maxlength="100" 
          ng-model="user.city" ng-class="" required>
        </label>
        <label>
          State: 
          <input type="text" name="state" maxlength="100" 
          ng-model="user.state" ng-class="" required>
        </label>
        <label>
          Zipcode:
          <input type="text" name="zip" maxlength="5" 
          ng-model="user.zip" ng-class="" required>
        </label>
        <label>
          School/Cohort:        
            <input type="radio" name="HR" ng-model="school.name" value="HR" required>Hack Reactor, San Francisco
            <input type="radio" name="HRRB" ng-model="school.name" value="HRRB" required>Hack Reactor, Remote Beta
            <select name="cohort" ng-model="user.cohort" ng-class="" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
              <option value="33">33</option>
              <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
              <option value="41">41</option>
              <option value="42">42</option>
              <option value="43">43</option>
              <option value="44">44</option>
              <option value="45">45</option>
              <option value="46">46</option>
              <option value="47">47</option>
              <option value="48">48</option>
              <option value="49">49</option>
              <option value="50">50</option>
            </select>
        </label>
        <label>
          Gender:
          <select name="gender" ng-model="user.gender" ng-class="">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </label>
        <label>
          Ethnicity:
          <select name="race" ng-model="user.race" ng-class="">
            <option value="Asian">Asian</option>
            <option value="Black/African-American">Black or African American</option>
            <option value="Hispanic">Hispanic or Latino</option>
            <option value="Native American">Native American or Alaska Native</option>
            <option value="Middle Eastern">Middle Eastern</option>
            <option value="Caucasion/White">White</option>
            <option value="Other">Other</option>
          </select>
        </label>
      </fieldset>

      <fieldset>
        <legend>
          Career Information
        </legend>
        <label>
          Current Employer:
          <input type="text" name="currentemployer" maxlength="100" 
          ng-model="user.currentemployer" ng-class="">
        </label>
        <label>
          Job Type:
          <select name="currentemployertype" ng-model="user.currentemployertype" ng-class="">
            <option value="onsite">Onsite</option>
            <option value="remote">Remote</option>
            <option value="freelance">Freelance</option>
            <option value="contract">Contract</option>
          </select>
        </label>
        </label>
          Current Job Title/Role:
          <input type="text" name="currentemployerrole" maxlength="100" 
          ng-model="user.currentemployerrole" ng-class="">
        </label>
        <label>
          Start Date:
          <input type="date" name="currentemployerstartdate" maxlength="100" 
          ng-model="user.currentemployerstartdate" ng-class="">
        </label>
        <label>
          Previous Employer 1:
          <input type="text" name="prioremployer1" 
          ng-model="user.prioremployer1" ng-class="">
        </label>
        <label>
          Job Type:
          <select name="prioremployer1type" ng-model="user.prioremployer1type" ng-class="">
            <option value="onsite">Onsite</option>
            <option value="remote">Remote</option>
            <option value="freelance">Freelance</option>
            <option value="contract">Contract</option>
          </select>
        </label>
        </label>
          Job Title/Role:
          <input type="text" name="prioremployer1role" maxlength="100" 
          ng-model="user.prioremployer1role" ng-class="">
        </label>
        <label>
          Start Date:
          <input type="date" name="prioremployer1startdate" maxlength="100" 
          ng-model="user.prioremployer1startdate" ng-class="">
        </label>
        <label>
          End Date:
          <input type="date" name="prioremployer1enddate" maxlength="100" 
          ng-model="user.prioremployer1enddate" ng-class=""> 
        </label>
        <label>
          Previous Employer 2:
          <input type="text" name="prioremployer2" 
          ng-model="user.prioremployer2" ng-class="">
        </label>
        <label>
          Job Type:
          <select name="prioremployer2type" ng-model="user.prioremployer2type" ng-class="">
            <option value="onsite">Onsite</option>
            <option value="remote">Remote</option>
            <option value="freelance">Freelance</option>
            <option value="contract">Contract</option>
          </select>
        </label>
        </label>
          Job Title/Role:
          <input type="text" name="prioremployer2role" maxlength="100" 
          ng-model="user.prioremployer2role" ng-class="">
        </label>
        <label>
          Start Date:
          <input type="date" name="prioremployer2startdate" maxlength="100" 
          ng-model="user.prioremployer2startdate" ng-class="">
        </label>
        <label>
          End Date:
          <input type="date" name="prioremployer2enddate" maxlength="100" 
          ng-model="user.prioremployer1enddate" ng-class=""> 
        </label>
        <label>
          Previous Employer 3:
          <input type="text" name="prioremployer3" 
          ng-model="user.prioremployer3" ng-class="">
        </label>
        <label>
          Job Type:
          <select name="prioremployer3type" ng-model="user.prioremployer3type" ng-class="">
            <option value="onsite">Onsite</option>
            <option value="remote">Remote</option>
            <option value="freelance">Freelance</option>
            <option value="contract">Contract</option>
          </select>
        </label>
        </label>
          Job Title/Role:
          <input type="text" name="prioremployer3role" maxlength="100" 
          ng-model="user.prioremployer3role" ng-class="">
        </label>
        <label>
          Start Date:
          <input type="date" name="prioremployer3startdate" maxlength="100" 
          ng-model="user.prioremployer3startdate" ng-class="">
        </label>
        <label>
          End Date:
          <input type="date" name="prioremployer3enddate" maxlength="100" 
          ng-model="user.prioremployer3enddate" ng-class=""> 
        </label>
        <label>
          Github:
          <input type="text" name="githublink" maxlength="100" 
          ng-model="user.githublink" ng-class="">
        </label>
        <label>
          Twitter:
          <input type="text" name="twitter" maxlength="100" 
          ng-model="user.twitter" ng-class="">
        </label>
        <label>
          Website:
          <input type="url" name="website" maxlength="100" 
          ng-model="user.website" ng-class="">  
        </label>
        <label>
          Thesis:
          <input type="text" name="thesis" maxlength="100" 
          ng-model="user.thesis" ng-class="">
        </label>
        <label>
          Thesis URL:
          <input type="url" name="thesisurl" maxlength="100" 
          ng-model="user.thesisurl" ng-class="">
        </label>
        <label>
          Greenfield:
          <input type="text" name="greenfield" maxlength="100" 
          ng-model="user.greenfield" ng-class="">
        </label>
        <label>
          Legacy Project:
          <input type="text" name="legacy" maxlength="100" 
          ng-model="user.legacy" ng-class="">
        </label>
        <label>
          Technologies:
          <input type="checkbox" name="Android" ng-model="technology.Android" value="Android">Android
          <input type="checkbox" name="Angular" ng-model="technology.Angular" value="Angular">Angular
          <input type="checkbox" name="Backbone" ng-model="technology.Backbone" value="Backbone">Backbone
          <input type="checkbox" name="C/C++" ng-model="technology['C/C++']" value="C/C++">C/C++
          <input type="checkbox" name="CSS" ng-model="technology.CSS" value="CSS">CSS
          <input type="checkbox" name="D3" ng-model="technology.D3" value="D3">D3
          <input type="checkbox" name="Go" ng-model="technology.Go" value="Go">Go
          <input type="checkbox" name="Express" ng-model="technology.Express" value="Express">Express
          <input type="checkbox" name="HTML" ng-model="technology.HTML" value="HTML">HTML
          <input type="checkbox" name="iOS" ng-model="technology.iOS" value="iOS">iOS
          <input type="checkbox" name="Java" ng-model="technology.Java" value="Java">Java
          <input type="checkbox" name="JavaScript" ng-model="technology.JavaScript" value="JavaScript">JavaScript
          <input type="checkbox" name="Jquery" ng-model="technology.Jquery" value="Jquery">Jquery
          <input type="checkbox" name="MongoDB" ng-model="technology.MongoDB" value="MongoDB">MongoDB
          <input type="checkbox" name="Node" ng-model="technology.Node" value="Node">Node
          <input type="checkbox" name="Pearl" ng-model="technology.Pearl" value="Pearl">Pearl
          <input type="checkbox" name="PHP" ng-model="technology.PHP" value="PHP">PHP
          <input type="checkbox" name="Rails" ng-model="technology.Rails" value="Rails">Rails
          <input type="checkbox" name="React" ng-model="technology.React" value="React">React
          <input type="checkbox" name="Ruby" ng-model="technology.Ruby" value="Ruby">Ruby
          <input type="checkbox" name="Rust" ng-model="technology.Rust" value="Rust">Rust          
          <input type="checkbox" name="SQL" ng-model="technology.SQL" value="SQL">SQL
          <input type="checkbox" name="Unix" ng-model="technology.Unix" value="Unix">Unix          
        </label>
      </fieldset>

      <input type="submit" ng-click="update(user)" value="Save Profile" 
      ng-disabled='profileForm.$invalid'>          
    </form>
      <pre>school = {{school | json}}</pre> <!-- Remove before deployment -->
      <pre>user = {{user | json}}</pre> <!-- Remove before deployment -->
      <pre>technology = {{technology | json}}</pre> <!-- Remove before deployment -->
  </div>

</div>
